config.guess
config.sub
config.h.in
configure
obj/*
*.so
*.o
Makefile
.deps
.libs
autom4te.cache
config.h
*.doc
*.x
*.lo
*.la
aclocal.m4
depcomp
missing
mdate-sh
texinfo.tex
*~
,*
aclocal.m4
confdefs.h
config.build-subdirs
config.cache
config.h
config.status
conftest
conftest.c
depcomp
ltconfig
mdate-sh
missing
mkinstalldirs
stamp-h1
*.go
cscope.out
cscope.files
*.log
*.aux
*.cp
*.cps
*.dvi
*.fn
*.fns
*.ky
*.pg
*.toc
*.tp
*.vr
*.tps
*.vrs
*.pgs
*.rn
*.rns
*.scan
*.am
*.d
version.scm
*.m4
ltmain.sh
libtool