bin/art
.tarball-version
*.info
*.pdf
build.log
build.err*
#configure
obj/*
*.so
*.o
Makefile
.deps
.libs
autom4te.cache
config.h
*.doc
*.x
*.lo
*.la
aclocal.m4
depcomp
missing
mdate-sh
texinfo.tex
*~
,*
aclocal.m4
config.build-subdirs
config.cache
config.status
depcomp
mdate-sh
missing
mkinstalldirs
stamp-h1
*.go
cscope.out
cscope.files
*.log
*.aux
*.cp
*.cps
*.dvi
*.fn
*.fns
*.ky
*.pg
*.toc
*.tp
*.vr
*.tps
*.vrs
*.pgs
*.rn
*.rns
*.scan
*.am
*.d
!artanis/commands/version.scm
artanis/version.scm
ltmain.sh
libtool
examples/upload
configure
etc/artanis/artanis.conf
typescript
.gitconfig
*.patch
*.bz2
*.bz2.sig
*.gz
*.gz.sig
*.tmp
